# flex / bison generated
lex.yy.c
y.tab.c
y.tab.h
fem.tab.h
fem.tab.c

fem.tab.c
fem.tab.h

parse
mesh.bamg.exe

# gcc precompiled headers
*.gch

# build artifacts
*.o
*.a
*.so
*.mod
*.mod.c
*.tmp
*.log
build/

# editor / OS
*~
*.swp
.DS_Store
#*#

