# flex / bison generated
lex.yy.c
y.tab.c
y.tab.h
fem.tab.c
fem.tab.h
feelfem.tab.c
feelfem.tab.h
feelfem.output

oimo

GiNaC

fem.tab.c
fem.tab.h

parse
mesh.bamg.exe
feel.bamg.exe

a.out

# gcc precompiled headers
*.gch

# build artifacts
*.o
*.lo
*.Plo
.libs/
*.a
*.so
*.mod
*.mod.c
*.tmp
*.log
*.f90
build/

# editor / OS
*~
*.swp
.DS_Store
#*#

# feelfem
DbgReportFeelfem.txt
Makefile.feelfem
donothingnow.feelfem
feelfem
sample.bas
sample.cnd
sample.mat
sample.prb
solv_dat
